<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1>To-do App</h1>
<input type="text" [(ngModel)]="todoItem" placeholder="Title">
<input type="text" placeholder="description" [(ngModel)]="TodoDescription"><br>

<button (click)="addToTodoList()">Add to Todo List</button>
<li *ngFor="let item of listofTodos;
   let indexofMyItem= index">
   {{item.title}} {{item.description}}
   <button (click)="deleteItem(indexofMyItem)">Delete</button>
</li>